*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:white;
}
body{
    height:100vh;
    background-image:url('https://wallpapersmug.com/download/1920x1080/0367e9/solar-system-planets-dark-digital-art.jpg');
    background-position:center;
}
#myDiv {
    display: none;
}
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }

li{
   list-style: none; 
}
.logo{
    height:180px;
    width:180px;
    display:flex;
    margin-left:15px;
    margin-top:0.2rem;
}

#tabs{
    text-decoration:none;
    color:rgb(162, 202, 237);
    font-size:1.25rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing:0.12rem;
}
#tabs:hover::after{
    content:'';
    width:0%;
    height:1px;
    display:block;
    background:white;
    margin:auto;
    transition-duration: 0.3s;
}
#tabs:hover::after{
    width:100%;
}

#tabs1{
  text-decoration:none;
  color:white;
  font-size:1.25rem;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing:0.12rem;
  margin-left:auto;
}
#tabs1:hover{
  color:rgb(162, 202, 237);
  transition-duration: 0.3s;
}
.auth-link{
  margin-left:auto;
}
header{
    position:relative;
   
}
.navbar{
    position:fixed;
    top:0;
    background-color: black;
    width:100%;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:0.06rem;
    z-index:1;
    box-shadow: 0 8px 16px 0 rgba(167, 162, 162, 0.2), 0 6px 20px 0 rgba(76, 73, 73, 0.19);
}
.navbar.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.navbar {
  transition: transform 0.3s ease-in-out;
}
.links{
    display:flex;
    gap:2rem;
    margin-right:2rem;
    z-index:2;
}
.toggle_btn{
    display:none;
    cursor:pointer;
    height:30px;
    width:30px;

}

.dropdown_menu{
  border-radius: 5px;
    display:none;
    position:fixed;
    right:2rem;
    top:40px;
    height:0px;
    width:300px;
    background:black;
    overflow:hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 8px 16px 0 rgba(167, 162, 162, 0.2), 0 6px 20px 0 rgba(76, 73, 73, 0.19);
}
 #tabs:hover{
    color:rgb(138, 189, 234);
    text-decoration: none;
    transition-duration: 0.2s;
}
.dropdown_menu.open{
    height:370px;
}
.dropdown_menu li{
    font-size:35px;
    padding:0.7rem;
    display:flex;
    align-items: center;
    justify-content:center;
}
.dropdown_menu{
    z-index:1;
    width:100%;
    justify-content: center;
}

/* RESPONSIVE */
@media(max-width:1282px){
    .navbar .links{
        display:none;
    }
    .navbar .toggle_btn{
        display:block;
    }
    .dropdown_menu{
        display:block;
    }
    #quescosmo{
      width:80%;
      text-align: left;
    }
    
}
@media(max-width:1282px){
    .dropdown_menu{
        left:2rem;
        width:unset;
    }
}
.bg{
    
    max-height:100%;
    max-width:100%;
}
.app{
    border:2px solid #f1f1f1;
    width: 90%;
    max-width:600px;
    margin:200px auto 0;
    padding:30px;
}
.btn{
    border:1px solid #f1f1f1;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    background:none;
    cursor: pointer;
    display:block;
    margin:10px 0;
    text-align:left;
}
.btn:hover:not([disabled]){
    color:black;
    background:#f1f1f1;
    transition-duration: 0.3s;
}
.btn:disabled{
    cursor:no-drop;
}
#next-btn{
    border:1px solid #f1f1f1;
    color:black;
    padding:10px;
    margin: 20px auto 0;
    cursor:pointer;
    background:#f1f1f1;
    width:150px;
    font-size:18px;
    display:none;
}
#next-btn:hover{
    background:rgb(138, 189, 234);
    transition-duration:0.3s;
}
.correct{
    background:rgb(80, 181, 80);
}
.incorrect{
    background:rgb(182, 71, 71);
}
.btn{
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#footer1{
    padding-left:10px;
    padding-right:10px;
    border-top:2px solid white;
    bottom:0;
    text-align: center;
    margin-top:200px;
    padding-top:20px;
    padding-bottom:20px;
    }
  .footerlist{
    display:inline-block;
    font-family: "Bebas Neue", sans-serif; 
    font-size:23px;
    bottom:0;
    padding-right:80px;
    color:white;
    text-decoration:none;
  }
  #hoverfooter{
    color:white;
  }
  #hoverfooter:hover{
    color:rgb(138, 189, 234);
    transition-duration: 0.3s;
  }
  #socials{
    margin-top:5px;
    font-size:24px;
    color:grey;
    padding:5px;
  }
  #socials:hover{
    color:white;
  }
