@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#myDiv {
    display: none;
}
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
body{
    height:100vh;
    background-color: black;
}
li{
   list-style: none; 
}
.logo{
    height:180px;
    width:180px;
    display:flex;
    margin-left:15px;
    margin-top:0.2rem;
}

#tabs{
    text-decoration:none;
    color:rgb(162, 202, 237);
    font-size:1.25rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing:0.12rem;
}
#tabs:hover::after{
    content:'';
    width:0%;
    height:1px;
    display:block;
    background:white;
    margin:auto;
    transition-duration: 0.3s;
}
#tabs:hover::after{
    width:100%;
}

#tabs1{
  text-decoration:none;
  color:white;
  font-size:1.25rem;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing:0.12rem;
  margin-left:auto;
}
#tabs1:hover{
  color:rgb(162, 202, 237);
  transition-duration: 0.3s;
}
.auth-link{
  margin-left:auto;
}
header{
    position:relative;
   
}
.navbar{
    position:fixed;
    top:0;
    background-color: black;
    width:100%;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:0.06rem;
    z-index:1;
    box-shadow: 0 8px 16px 0 rgba(167, 162, 162, 0.2), 0 6px 20px 0 rgba(76, 73, 73, 0.19);
}
.navbar.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.navbar {
  transition: transform 0.3s ease-in-out;
}
.links{
    display:flex;
    gap:2rem;
    margin-right:2rem;
    z-index:2;
}
.toggle_btn{
    display:none;
    cursor:pointer;
    height:30px;
    width:30px;

}

.dropdown_menu{
  border-radius: 5px;
  z-index:1000;
    display:none;
    position:fixed;
    right:2rem;
    top:40px;
    height:0px;
    width:300px;
    background:black;
    overflow:hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 8px 16px 0 rgba(167, 162, 162, 0.2), 0 6px 20px 0 rgba(76, 73, 73, 0.19);
}
 #tabs:hover{
    color:rgb(138, 189, 234);
    text-decoration: none;
    transition-duration: 0.2s;
}
.dropdown_menu.open{
    height:370px;
}
.dropdown_menu li{
    font-size:35px;
    padding:0.7rem;
    display:flex;
    align-items: center;
    justify-content:center;
}
.dropdown_menu{
    z-index:2;
    width:100%;
    justify-content: center;
}

/* RESPONSIVE */
@media(max-width:1282px){
    .navbar .links{
        display:none;
    }
    .navbar .toggle_btn{
        display:block;
    }
    .dropdown_menu{
        display:block;
    }
    #quescosmo{
      width:80%;
      text-align: left;
    }
    
}
@media(max-width:1282px){
    .dropdown_menu{
        left:2rem;
        width:unset;
    }
}

 /* parallax slide....front page */

.parallax{
    margin: 0%;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.parallax h1{
    padding-top: 2%;
    position: absolute;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 10vw;
    z-index: 1;
    letter-spacing: 0.2vw;
}
.parallax img{
    position: absolute;
    pointer-events: none;
}
.mountains,
.bg{
    width: 100%;
    height: 100%;
}

.bg{
    top: 0;
    z-index: 0;
}
.mountains{
    transform-origin: 50% 80%;
    z-index: 3;
}

/* all the pages...made in sections */

.blackhole_overview{
    display: block;
    margin: 80px 30px 40px;
    text-align: center;
}

.blackhole_overview h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 3em;
    line-height: 1;
    text-transform: uppercase;
    color: aliceblue;
    margin: 25px 10px 20px;
}

.blackhole_overview p{
    display: block;
    margin: 10px 10px 20px;
    font-size: 1.1em;
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 1.6;
    color: aliceblue;
}

@media  screen and (max-width: 960px) {
    body{
        font: "PT Sans Narrow", sans-serif;
        font-size: 1em;
        font-weight: 300;
        font-style: normal;
    }
    h2{
        font: "Bebas Neue", sans-serif;
        font-size: 2em;
        font-weight: 300;
        font-style: normal;
    }
    .head{
        font-size: 1.5em;
    }
    p{
        margin-top: 15px;
        font-size: 0.5em;
    }
}

/* types of blackhole....row info */
.content_blackole{
    display:flex;
    flex-direction: row;
    margin: 50px 20px 10px;
}

.content_blackole .column_1{
    display: flex;
    flex-direction: column;
    margin: 30px 30px 10px;
    border-top: 1px solid aliceblue;
}

.content_blackole .head{
    font-family: "Bebas Neue", sans-serif;
    font-size: 2em;
    padding: 30px 0 10px;
    text-align: center;
    color: aliceblue;
}

.content_blackole p{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 1.1em;
    padding: 10px 0 10px;
    color: aliceblue;
}

@media screen and (max-width:960px){
    .content_blackole{
        display: flex;
        flex-direction: column;
    }
}

/* animation on scroll... */
/* .hidden{
    opacity: 1;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(-10%);
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
} */

/* all imag text slides */
.img_slide{
    background-color: black;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
}

.img_slide .container{
    display: flex;
    flex-direction: column;
    margin: 140px 20px 30px;
    text-align: center;
}

.img_slide h2{
    color: aliceblue;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
}

.column_2{
    display: flex;
    flex-direction: column;
    margin: 10px 0 10pxx;
    color: aliceblue;
}

.column_2 .head{
    color: aliceblue;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2em;
    margin-top: 30px;
    padding: 10px 0 0;
    border-top: 1px solid aliceblue;
}

.img_slide p{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 1.1em;
    padding: 5px 0 20px;
    color: aliceblue;
}

/* rotating blackhole */

.swirl{
    margin: 50px 0 30px;
    height: 52vw;
    width: 52vw;
    border-radius: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    animation: animate 40s linear infinite;
    transform: rotateY(calc(var(--i) *45deg)) translateZ(30vw);
}

@keyframes animate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
   100%{
    transform: perspective(1000px) rotateZ(360deg);
   }
}

/* responsive img txt formate... */
@media screen and (max-width: 960px) {
    .img_slide{
        display: flex;
        flex-direction: column;
    }
    .swirl{
        height: 80vw;
        width: 80vw;
        align-self: center;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .img_slide .container{
        margin-top: 0;
    }
}

/* quasar img and little text*/

.quasar{
    background-image: url('quasar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-top: 20px;
    border-top: 1px solid aliceblue;
    margin-bottom: 10px;
    border-bottom: 1px solid aliceblue;
}
 

.column_3{
    height: 50vh;
    width: 50vw;
    margin: 50vh 5vw 50vh;
    background: transparent;
}

.column_3 .head{
    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
    color: aliceblue;
    margin: 0 0 10px;
} 

.column_3 p{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 1.1em;
    color: aliceblue;
    padding: 10px 0 10px;
}

.column_4{
    height: 50vh;
    width: 50vw;
    margin: 50vh 5vw 50vh;
    background: transparent;
}

.column_4 .head{
    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
    color: aliceblue;
    margin: 0 0 20px;
} 

.column_4 p{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 1.1em;
    color: aliceblue;
    padding: 20px 0 20px;
    border-top: 1px solid aliceblue;
}

.column_5{
    height: 50vh;
    width: 50vw;
    margin: 50vh 5vw 20vh;
    background: transparent;
}

.column_5 .head{
    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
    color: aliceblue;
    margin: 0 0 20px;
} 

.column_5 p{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 1.1em;
    color: aliceblue;
    padding: 10px 0 10px;
    border-top: 1px solid aliceblue;
}

/* quasar responsive text.... */

@media screen and (max-width:960px){
    .column_3,
    .column_4, 
    .column_5{
        width: 90vw;
        text-align: center;
        margin: 50vh 5vw 20vh;
    }
}

@media screen and (min-width:1400px){
    .column_3 p,
    .column_4 p, 
    .column_5 p{
        font-size: 1.5em;
}
.column_3,
.column_4, 
.column_5{
    width: 60vw;
}
.column_3 .head,
    .column_4 .head, 
    .column_5 .head{
        font-size: 3.5em;
}
}

/* wormhole.... */
.wormhole_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0 20px;
}

.wormhole_1 img{
    height: 40vw;
    width: 40vw;
    margin-left: 5vw;
    margin-top: 10vh;
}


.wormhole_2{
    height: 110vh;
    width: 100vw;
    background-image: url(wormhole_final.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column_6{
    height: 50vh;
    width: 40vw;
    margin: 15vh 2vw 20vh;
    margin-right: 5vw;
    background: transparent;
}

.column_7{
    height: 50vh;
    width: 40vw;
    margin: 50vh 2vw 20vh;
    margin-left: 5vw;
    background: transparent;
}

.column_6 .head,
.column_7 .head{
    font-family: "Bebas Neue", sans-serif;
    font-size: 4em;
    color: aliceblue;
    margin: 0 0 20px;
} 

.column_6 p, 
.column_7 p{
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 1.5em;
    color: aliceblue;
    padding: 10px 0 10px;
    border-top: 1px solid aliceblue;
}

/* responsive wormhole section */


@media screen and (max-width:960px) {
    .wormhole_1{
        display: flex;
        flex-direction: column;
    }
    .wormhole_1 img{
        height: 80vh;
        width: 80vw;
        margin-left: 10vw;
    }
    .column_6{
        width: 90vw;
        margin-top: 5vh;
        margin-bottom: 0;
    }
    .column_7{
        width: 90vw;
        margin-top: 70vh;
    }
}

/* footer */
/* #footer1{
    border-top:2px solid white;
    bottom:0;
  oterlist{
    display:inline-block;
    font-family: "Bebas Neue", sans-serif; 
    font-size:23px;
    bottom:0;
    padding-right:80px;
    color:white;
    text-decoration:none;
  }
  #hoverfooter{
    color:white;
  }
  #hoverfooter:hover{
    color:rgb(138, 189, 234);
    transition-duration: 0.3s;
  }  padding-left:150px;
    margin-top: 20px;
    padding-top:50px;
    text-align: center;
  } */

  #footer1{
    padding-left:10px;
    padding-right:10px;
    border-top:2px solid white;
    bottom:0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top:40px;
    }
  .footerlist{
    display:inline-block;
    font-family: "Bebas Neue", sans-serif; 
    font-size:23px;
    bottom:0;
    padding-right:80px;
    color:white;
    text-decoration:none;
  }
  #hoverfooter{
    color:white;
  }
  #hoverfooter:hover{
    color:rgb(138, 189, 234);
    transition-duration: 0.3s;
  }
  #socials{
    margin-top:5px;
    font-size:24px;
    color:grey;
    padding:5px;
  }
  #socials:hover{
    color:white;
  }




